@import './../../less/variables';

.ModuleGraph {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;

  border-radius: 20px;

  @media (min-width: @tablet) {
    margin-top: 30px;
  }
}
