.ModulePicture-Link {
  position: relative;
  display: block;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .ModulePicture-Link {
    margin-top: 30px;
  }
}
.ModulePicture-Indicator {
  position: absolute;
  bottom: 3px;
  left: 20px;
  display: block;
  width: 30%;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
  opacity: 0.8;
}
.ModulePicture-CamDetails {
  font-size: 12px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1.1666666666666667rem;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .ModulePicture-CamDetails {
    font-size: 20px;
    font-size: 1.6666666666666667rem;
    line-height: 24px;
    line-height: 2rem;
  }
}
.ModulePicture-Image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
