.HeaderMenu-List {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .HeaderMenu-List {
    display: flex;
  }
}
.HeaderMenu-Item {
  margin-right: 26px;
}
.HeaderMenu-Item:last-child {
  margin-right: 0;
}
.HeaderMenu-Link {
  font-size: 16px;
  font-size: 1.3333333333333333rem;
  line-height: 20px;
  line-height: 1.6666666666666667rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  opacity: 0.6;
}
.HeaderMenu-Link:hover,
.HeaderMenu-Link:focus {
  opacity: 0.8;
}
.HeaderMenu-Link:active {
  opacity: 1;
}
.HeaderMenu-Button {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: -5px;
  background-color: transparent;
  background-image: url("./assets/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@media (min-width: 768px) {
  .HeaderMenu-Button {
    display: none;
  }
}
.HeaderMenu_opened {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .HeaderMenu_opened {
    flex-direction: row;
    align-items: flex-start;
  }
}
.HeaderMenu_opened .HeaderMenu-List {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .HeaderMenu_opened .HeaderMenu-List {
    flex-direction: row;
    align-items: flex-start;
  }
}
.HeaderMenu_opened .HeaderMenu-Item {
  margin-right: 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .HeaderMenu_opened .HeaderMenu-Item {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
.HeaderMenu_opened .HeaderMenu-Item:last-child {
  margin-bottom: 0;
}
.HeaderMenu_opened .HeaderMenu-Button {
  margin-bottom: 10px;
}
