.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto;
}
@media (min-width: 480px) {
  .grid {
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-auto-flow: initial;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1441px) {
  .grid {
    grid-auto-flow: dense;
    grid-gap: 25px;
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (min-width: 480px) {
  .grid__cell--s {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media (min-width: 768px) {
  .grid__cell--s {
    grid-column: span 2;
  }
}
@media (min-width: 1441px) {
  .grid__cell--s {
    grid-column: span 2;
  }
}
@media (min-width: 480px) {
  .grid__cell--m {
    grid-column: span 4;
    grid-row: span 1;
  }
}
@media (min-width: 768px) {
  .grid__cell--m {
    grid-column: span 3;
  }
}
@media (min-width: 1441px) {
  .grid__cell--m {
    grid-column: span 2;
  }
}
@media (min-width: 480px) {
  .grid__cell--l {
    grid-column: span 4;
    grid-row: span 3;
  }
}
@media (min-width: 768px) {
  .grid__cell--l {
    grid-column: span 4;
  }
}
@media (min-width: 1441px) {
  .grid__cell--l {
    grid-column: span 3;
    grid-row: span 2;
  }
}
.grid-sensor .grid__cell--l {
  width: 100%;
}
