.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .Header {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
  }
}
.Header-Inner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .Header-Inner {
    justify-content: flex-start;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 30px;
  }
}
.Header-Logo {
  display: block;
  width: 113px;
  height: 38px;
}
@media (min-width: 768px) {
  .Header-Logo {
    margin-top: -3px;
    margin-right: 48px;
  }
}
.Header-Logo:hover,
.Header-Logo:focus {
  opacity: 0.5;
}
.Header-Logo:active {
  opacity: 1;
}
.Header-Logo img {
  display: block;
}
