.Player {
  margin: 0;
  margin-top: 20px;
}
.Player-Right {
  position: relative;
  width: 100%;
}
.Player-Song {
  display: flex;
}
.Player-Song img {
  width: 53px;
  min-width: 53px;
  height: 53px;
  margin-right: 10px;
}
@media (min-width: 480px) {
  .Player-Song img {
    margin-right: 15px;
  }
}
.Player-Line {
  position: relative;
  display: block;
  width: 100%;
  max-width: calc(100% - 35px);
  height: 1px;
  margin-top: 15px;
  background-color: #979797;
}
.Player-NameWrap {
  position: relative;
  width: 100%;
  height: 23px;
  overflow: hidden;
}
.Player-Name {
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 21px;
  line-height: 1.75rem;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .Player-Name {
    font-size: 20px;
    font-size: 1.6666666666666667rem;
    line-height: 23px;
    line-height: 1.9166666666666667rem;
  }
}
.Player-Button {
  position: absolute;
  top: -10px;
  left: 20%;
  display: block;
  width: 6px;
  height: 20px;
  padding: 0;
  background-color: #d8d8d8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Player-Button:hover,
.Player-Button:focus {
  background-color: #939393;
}
.Player-Num {
  font-size: 14px;
  font-size: 1.1666666666666667rem;
  line-height: 17px;
  line-height: 1.4166666666666667rem;
  position: absolute;
  right: -15px;
  bottom: 8px;
  display: block;
  width: 40px;
  color: #a1a1a1;
}
@media (min-width: 768px) {
  .Player-Num {
    bottom: 5px;
  }
}
.Player-Controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.Player-Controls .Player-Right {
  width: calc(100% - 130px);
  overflow: visible;
}
.Player-Controls .Player-Line {
  height: 4px;
  margin: 0;
  background-color: rgba(216, 216, 216, 0.3);
  border-radius: 2px;
}
.Player-Controls .Player-Num {
  bottom: -6px;
}
.Player-Controls .Player-Button {
  top: -6px;
  left: 70%;
  width: 16px;
  height: 16px;
  background-color: #605757;
  border-radius: 25px;
}
.Player-Controls .Player-Button:hover,
.Player-Controls .Player-Button:focus {
  background-color: #333333;
}
.Player-ControlsWrap {
  display: flex;
  margin: 0;
  margin-right: 10px;
}
.Player-Control {
  display: block;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: transparent;
  background-image: url("./assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
.Player-Control:hover,
.Player-Control:focus {
  opacity: 0.8;
}
.Player-Control_type_prev {
  margin-right: 10px;
}
.Player-Control_type_next {
  transform: rotate(180deg);
}
